table {
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

tr.hmd-tracklist__track {
    cursor: pointer;
}

tr.hmd-tracklist__track:hover {
    background-color: grey;
}

tr.hmd-tracklist__track:active {
    background-color: yellow;
}