<table>
    <tr class="hmd-tracklist__header">
        <th *ngFor="let property of properties">{{ property }}</th>
    </tr>
    <tr class="hmd-tracklist__track" *ngFor="let track of tracks" (click)="selectTrack(track)">
        <td class="tracklist__track--name"><hmd-updater [id]="track.id" property="name" [value]="track.name" type="text"></hmd-updater></td>
        <td class="tracklist__track--source">{{ track.source }}</td>
        <td *ngIf="ready()"><hmd-scale [scale]="getScale(track.trackProfile, 'Deep')" [onUpdate] = "getTracksMethod"></hmd-scale></td>
        <td *ngIf="ready()"><hmd-scale [scale]="getScale(track.trackProfile, 'Dream')" [onUpdate] = "getTracksMethod"></hmd-scale></td>
        <td *ngIf="ready()"><hmd-scale [scale]="getScale(track.trackProfile, 'Decay')" [onUpdate] = "getTracksMethod"></hmd-scale></td>
        <td *ngIf="ready()"><hmd-shade [scales]="getScales(track.trackProfile)"></hmd-shade></td>
    </tr>
</table>